	<header class="bg-white">
		<div class="container">
			<div class="row">

				<div class="header__logo col-lg-6 col-md-4 col-8">
					<h1><a class="logo" href="/">{{company_name}}</a></h1>
				</div>
				<ul class="header__list col-lg-6 col-md-8 col-4">
					<li class="header__list-li"><a href="#">Menu link again</a></li>
					<li class="header__list-li"><a href="#">Menu link see</a></li>
					<li class="header__list-li"><a href="#">Menu link</a></li>
					<li class="header__list-li"><button>Contact</button></li>
				</ul>

				<div class="header__list--mobile col-4">
					<div class="toggle-menu">
						<img src="../img/icon/solid/menu.svg" class="toggle-menu__open"alt="">
						<img src="../img/icon/solid/close.svg" class="toggle-menu__close" alt="">
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="responsive-menu">
		<ul class="responsive-menu__ul">
			<li class="responsive-menu__ul--li"><a href="#">Menu link</a></li>
			<li class="responsive-menu__ul--li"><a href="#">Menu link see</a></li>
			<li class="responsive-menu__ul--li"><a href="#">Menu link again</a></li>
			<li class="responsive-menu__ul--li"><button>Contact</button></li>
		</ul>
	</section>