<div class="service__box col-md-4">
	<div class="service__box--img" attr-num="1">
		<img src="../../img/icon/service-badge.svg" alt="">
	</div>
	<h3 class="service__box--title">Service Name</h3>
	<p class="service__box--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
</div>

<div class="service__box col-md-4">
	<div class="service__box--img" attr-num="2">
		<img src="../../img/icon/service-badge.svg" alt="">
	</div>
	<h3 class="service__box--title">Service Name</h3>
	<p class="service__box--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
</div>

<div class="service__box col-md-4">
	<div class="service__box--img" attr-num="3">
		<img src="../../img/icon/service-badge.svg" alt="">
	</div>
	<h3 class="service__box--title">Service Name</h3>
	<p class="service__box--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
</div>