header {
	margin-top: 20px;
	@include media-breakpoint-down(sm) {
   margin-top: 10px;
  }
	.row {
		align-items: center;
	}
}
.header__logo {
  .logo {
  	@include media-breakpoint-down(sm) {
  	  background: url(/img/brand/logo/primary.svg) no-repeat left center;
	    background-size: 85px;
	    width: 100%;
	  }
  }
}
.header__list {
	@include media-breakpoint-down(sm) {
    display: none;
  }
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.header__list-li {
	a {
		color: $secondary;
	}
}
