body {
	position: relative;
	left: 0px;
	transition: left 0.4s;
}
.header__list--mobile {
	@include media-breakpoint-up(md) {
    display: none;
  }
	text-align: right;
}
.menu-open {
	left: -260px;
	.toggle-menu__close {
		display: inline;
	}
	.toggle-menu__open {
		display: none;
	}
}
.menu-open .responsive-menu {
   transform: translateX(-100%);
 }
 .toggle-menu {
 	width: 32px;
 	float: right;
 	cursor: pointer;
 }
 .toggle-menu__close {
 	display: none;
 }
.responsive-menu {
    width: 260px;
    padding: 30px;
    right: -260px;
    height: 100vh;
    top: 0;
    background-color: $secondary;
    position: fixed;
    z-index: 1;
    transform: translateX(0px);
    transition: all 0.4s;
}
.responsive-menu__ul {
	text-align: center;
}
.responsive-menu__ul--li {
	margin-bottom: 20px;
	a {
		font-size: 18px;
	  line-height: 1.67;
	  color: #ffffff;
		width: 100%;
		display: block;
	}
}